body{
    background-color: #07073d;
}



.MohirTentak{
    color: white;
    text-align: center;

}


.img1{
    width: 500px;
    height: 280px;
    border-radius: 12px;


}

table{
    border: 1px solid white;
    color: white;
    border-collapse: collapse;
    width: 70%;
    text-align: center;
}


.th,td{
    border: 1px solid;

}
.row1{
    background-color: rgb(94, 29, 17);
}


.box1
